.elasticbeanstalk/*
.idea/*
odecopackdb
/static/web/sass/mdb/*
/media/*
/comandos.txt
/secretsLocal.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
