.elasticbeanstalk/*
.idea/*
odecopackdb
/static/web/sass/mdb/*
/media/*
/comandos.txt
/secretsLocal.json
# Elastic Beanstalk Files
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
env
.ebextensions/00_enviroment_variables.config
secretsLocal.json
docker/volumes

