{% load i18n static solo_tags %}
{% get_solo 'web_configurations.GeneralConfiguration' as general_configuracion %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" class="{% block html_class %}{% endblock %}">

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-FPBF9LX');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description"
          content="Su aliado tecnológico en líneas y procesos de producción. Somos una compania con 25 años de participacion en el mercado nacional e internacional. Involucrandonos en todas las necesidades del proceso productivo de los diferentes sectores industriales.">

    <title>Odecopack - {% block title %}{% endblock %}</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'web/css/font-awesome.min.css' %}">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'web/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{% static 'web/sass/mdb.min.css' %}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{% static 'web/css/style.min.css' %}?version={{ general_configuracion.version_css_cache }}hola"
          rel="stylesheet">

    <link rel="icon" href="{% static 'web/img/favicon.ico' %}">

    {% if user.is_anonymous %}
        {% include 'web/base/google_analitics.html' %}
    {% else %}
        {% if user.is_authenticated and user.tercero %}
            {% if user.tercero.es_cliente %}
                {% include 'web/base/google_analitics.html' %}
            {% endif %}
        {% endif %}
    {% endif %}

</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-FPBF9LX"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<!--Main Navigation-->
<header>
    {% block menu %}
        {% include 'web/base/menu.html' with es_menu_index=False %}
    {% endblock %}
</header>
<!--Main Navigation-->
<div id="mdb-lightbox-ui">

</div>

{% block cabezote %}

{% endblock %}

<main>
    <div id="fb-root"></div>
    {% block content %}

    {% endblock %}
</main>
{% include 'web/base/contactenos.html' %}
{% block footer %}
    {% include 'web/base/footer.html' %}
{% endblock %}

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="{% static 'web/js/jquery-3.2.1.min.js' %}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'web/js/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'web/js/bootstrap.min.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'web/js/mdb.min.js' %}"></script>

<script>

    {#    (function (d, s, id) {#}
    {#        var js, fjs = d.getElementsByTagName(s)[0];#}
    {#        if (d.getElementById(id)) return;#}
    {#        js = d.createElement(s);#}
    {#        js.id = id;#}
    {#        js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10';#}
    {#        fjs.parentNode.insertBefore(js, fjs);#}
    {#    }(document, 'script', 'facebook-jssdk'));#}


    $(function () {
        $("#mdb-lightbox-ui").load("{% static 'web/mdb-addons/mdb-lightbox-ui.html' %}");
    });
    new WOW().init();
    $('.navbar-nav>li>a').on('click', function () {
        $('.navbar-collapse').collapse('hide');
    });

    $('.modal').on('hide.bs.modal', function (e) {
        var $if = $(e.delegateTarget).find('iframe');
        var src = '';
        for (i = 0; i < $if.length; i++) {
            src = $if[i].src;
            $if[i].src = '/empty.html';
            $if[i].src = src;
        }
    });

    $('.modal').on('show.bs.modal', function (e) {

        {% if user.is_anonymous %}
            ga('send', {
                hitType: 'event',
                eventCategory: e.target.title,
                eventAction: 'click',
                eventLabel: e.target.id
            });
        {% else %}
            {% if user.is_authenticated and user.tercero %}
                {% if user.tercero.es_cliente %}
                    ga('send', {
                        hitType: 'event',
                        eventCategory: e.target.title,
                        eventAction: 'click',
                        eventLabel: e.target.id
                    });
                {% endif %}
            {% endif %}
        {% endif %}
    });


    function init() {
        var vidDefer = document.getElementsByTagName('iframe');
        for (var i = 0; i < vidDefer.length; i++) {
            if (vidDefer[i].getAttribute('data-src')) {
                vidDefer[i].setAttribute('src', vidDefer[i].getAttribute('data-src'));
            }
        }
        var imgDefer = document.getElementsByTagName('img');
        for (var i = 0; i < imgDefer.length; i++) {
            if (imgDefer[i].getAttribute('data-src')) {
                imgDefer[i].setAttribute('src', imgDefer[i].getAttribute('data-src'));
            }
        }

        {% block onLoadScript %}

        {% endblock %}
    }

    window.onload = init;

    {% block final_scripts %}

    {% endblock %}
</script>

</body>

</html>