{% load static %}
<div class="view hm-stylish-light cabezote" style="background-image: url({{ imagen }});">
    <div class="full-bg-img">
        <div class="container flex-center">
            <div class="card right ml-5">
                <div class="card-header color-1-odecopack lighten-1 white-text titulo-seccion">
                    <h3>{{ titulo|upper }}</h3>
                </div>
                {% if texto %}
                    <div class="card-body">
                        <p class="card-text">{{ texto }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>