<!--Modal: Contact form-->
<div class="modal fade formulario" id="contactenos_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header darken-3 white-text color-1-odecopack">
                <h4 class="title"><i class="fa fa-pencil"></i>Contactanos</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body mb-0">

                <form action="{% url 'web:send_contactenos' %}" method="post">
                    {% csrf_token %}

                    <div class="md-form form-sm">
                        <i class="fa fa-envelope prefix"></i>
                        <input name="nombre" type="text" id="form19" class="form-control" required>
                        <label for="form19">Nombre</label>
                    </div>

                    <div class="md-form form-sm">
                        <i class="fa fa-envelope prefix"></i>
                        <input name="correo" type="email" id="form20" class="form-control" required>
                        <label for="form20">Correo</label>
                    </div>

                    <div class="md-form form-sm">
                        <i class="fa fa-tag prefix"></i>
                        <input name="asunto" type="text" id="form21" class="form-control" required>
                        <label for="form21">Asunto</label>
                    </div>

                    <div class="md-form form-sm">
                        <i class="fa fa-pencil prefix"></i>
                        <textarea name="texto" style="min-height: 150px" rows="40" type="text" id="form8"
                                  class="md-textarea mb-0"
                                  required></textarea>
                        <label for="form8">Mensaje</label>
                    </div>
                    <div class="options text-center mt-1 texto-legal">
                        ODECOPACK SAS le informa que los datos personales que se recolectan
                        a través de este formulario serán tratados de manera segura y confiable de acuerdo
                        con nuestras políticas y acorde a la Ley 1581 de 2012 sobre protección de Datos.

                    </div>

                    <div class="text-center mt-1-half">
                        <button type="submit" class="btn mb-2 color-1-odecopack">Enviar <i class="fa fa-send ml-1"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Contact form-->
