{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!--Modal: Contact form-->
<div class="modal fade formulario" id="contactenos_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header darken-3 white-text color-1-odecopack">
                <h4 class="title"><i class="fas fa-pencil"></i>{% trans "CONTÁCTENOS" %}</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body mb-0">

                <form action="{% url 'web:send_contactenos' %}" method="post">
                    {% csrf_token %}

                    <div class="md-form form-sm">
                        <i class="fas fa-pencil-alt prefix"></i>
                        <input name="nombre" type="text" id="form19" class="form-control" required>
                        <label for="form19">{% trans 'Nombre'|title %}</label>
                    </div>

                    <div class="md-form form-sm">
                        <i class="fas fa-envelope prefix"></i>
                        <input name="correo" type="email" id="form20" class="form-control" required>
                        <label for="form20">{% trans 'correo'|title %}</label>
                    </div>

                    <div class="md-form form-sm">
                        <i class="fas fa-tag prefix"></i>
                        <input name="empresa" type="text" id="form44" class="form-control" required>
                        <label for="form44">{% trans 'EMPRESA'|title %}</label>
                    </div>

                    <div class="md-form form-sm">
                        <i class="fas fa-tag prefix"></i>
                        <input name="asunto" type="text" id="form21" class="form-control" required>
                        <label for="form21">{% trans 'asunto'|title %}</label>
                    </div>

                    <div class="md-form form-sm">
                        <i class="fas fa-tag prefix"></i>
                        <input name="telefono" type="text" id="form45" class="form-control" required>
                        <label for="form21">{% trans 'telefono'|title %}</label>
                    </div>

                    <div class="md-form form-sm">
                        <i class="fas fa-pencil prefix"></i>
                        <textarea name="texto" style="min-height: 150px" rows="40" type="text" id="form8"
                                  class="md-textarea mb-0"
                                  required></textarea>
                        <label for="form8">{% trans 'mensaje'|title %}</label>
                    </div>
                    {% if LANGUAGE_CODE != 'en' %}
                        <div class="options text-center mt-1 texto-legal">
                            {% blocktrans %}
                                ODECOPACK SAS le informa que los datos personales que se recolectan
                                a través de este formulario serán tratados de manera segura y confiable de acuerdo
                                con nuestras políticas y acorde a la Ley 1581 de 2012 sobre protección de Datos.
                            {% endblocktrans %}
                            <p>
                                {% blocktrans %}
                                    En caso de que desee RETIRAR o MODIFICAR su información de nuestras bases de
                                    datos por
                                    favor
                                    envíe su solicitud al correo: protecciondatos@odecopack.com , o comuníquese
                                    al
                                    teléfono:
                                    4856565
                                {% endblocktrans %}
                            </p>
                            <div class="text-center">
                                <a target="_blank" href="{% url 'web:tratamiento_datos_personales' %}">VER POLITICA DE
                                    TRATAMIENTO DE DATOS PERSONALES</a>
                            </div>
                        </div>
                    {% endif %}
                    <div id="recaptcha_contactanos" class="col-12">
                        <div class="g-recaptcha"
                             data-sitekey="6Le3hHkUAAAAABDNyS-p8Y2mgf2PSf1oZmCEcKb0"></div>
                    </div>

                    <div class="text-center mt-1-half">
                        <button type="submit" class="btn mb-2 color-1-odecopack">{% trans 'Enviar' %} <i
                                class="fas fa-paper-plane ml-1"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Contact form-->
