{% load solo_tags i18n %}
{% get_solo 'web_configurations.GeneralConfiguration' as general_configuracion %}
<style>
    .footer-copyright {
        color: #fff !important;
    }

</style>
<footer class="page-footer color-4-odecopack center-on-small-only">
    {% get_current_language as LANGUAGE_CODE %}
    <div class="container" id="footer">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 mt-2">
                <h6 class="title font-bold">{% trans 'Información de Contacto' %}</h6>
                {% if LANGUAGE_CODE == 'en' %}
                    <p>{{ general_configuracion.horarios_de_atencion_en|safe }}</p>
                {% else %}
                    <p>{{ general_configuracion.horarios_de_atencion|safe }}</p>
                {% endif %}
                <p>{{ general_configuracion.numeros_contacto|safe }}</p>
                <p>{{ general_configuracion.correos_contacto|safe }}</p>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-2">
                <div id="map-container" class="z-depth-1" style="height: 200px">
                </div>

                <p class="text-center"><i class="fas fa-map-marker"
                                          aria-hidden="true"></i> {{ general_configuracion.direccion }}</p>
            </div>
            <div class="col-12 col-md-12 col-lg-6 mt-2">
                <section class="section">
                    <h6 class="title font-bold">{% trans 'Formulario de contacto' %}</h6>
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-12 p-0 m-0 formulario">
                            <form id="contact-form" action="{% url 'web:send_contactenos' %}"
                                  method="POST" class="p-0 m-0">
                                {% csrf_token %}
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="text" id="name" name="nombre"
                                               aria-label="Nombre"
                                               placeholder="{% trans 'Nombre'|title %}">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <div class="md-form">
                                            <input type="text" id="email" name="correo"
                                                   aria-label="correo"
                                                   placeholder="{% trans 'correo'|title %}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="text" id="empresa" name="empresa"
                                               aria-label="Empresa"
                                               placeholder="{% trans 'EMPRESA'|title %}"
                                        >
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="text" id="subject" name="asunto"
                                               aria-label="Asunto"
                                               placeholder="{% trans 'asunto'|title %}">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <textarea type="text" id="message" name="texto" style="min-height: 100px"
                                                  class="md-textarea"
                                                  aria-label="Mensaje"
                                                  placeholder="{% trans 'mensaje'|title %}"></textarea>
                                    </div>

                                </div>
                                <div class="options text-center mt-1 texto-legal">
                                    {% blocktrans %}
                                        ODECOPACK SAS le informa que los datos personales que se recolectan
                                        a través de este formulario serán tratados de manera segura y confiable de
                                        acuerdo
                                        con nuestras políticas y acorde a la Ley 1581 de 2012 sobre protección de Datos.
                                    {% endblocktrans %}
                                    <p>
                                        {% blocktrans %}
                                            En caso de que desee RETIRAR o MODIFICAR su información de nuestras bases de
                                            datos por favor envíe su solicitud al correo: protecciondatos@odecopack.com
                                            , o comuníquese al
                                            teléfono: 4856565
                                        {% endblocktrans %}
                                    </p>
                                    <div class="text-center">
                                        <a target="_blank" href="{% url 'web:tratamiento_datos_personales' %}">
                                            VER POLITICA DE TRATAMIENTO DE DATOS PERSONALES
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 center">
                                    <div class="g-recaptcha"
                                         data-sitekey="6Le3hHkUAAAAABDNyS-p8Y2mgf2PSf1oZmCEcKb0"></div>
                                </div>
                                <div class="col-md-12">
                                    <div class="center-on-small-only">
                                        <button type="submit"
                                                class="btn mb-2 color-1-odecopack">{% trans 'Enviar' %}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: Odecopack
        </div>
    </div>
</footer>