{% load static %}
<section id="clientes" class="section">
    <div class="container-fluid background-white">
        <div class="container py-3" id="opinions">

            <h1 class="text-center mt-3 mb-3 font-up font-bold grey-text-2 wow fadeIn" data-wow-delay="0.2s">
                CLIENTES</h1>

            <!--Items wrapper-->
            <div class="flex-center logos-panel">

                <!--First row-->
                <div class="row justify-content-center mb-2 wow fadeIn" data-wow-delay="0.4s">
                    <div class="col-lg-2 col-md-3 col-4">
                        <img src="{% static 'web/img/nuestros_clientes/1.png' %}" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <img src="{% static 'web/img/nuestros_clientes/2.png' %}" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <img src="{% static 'web/img/nuestros_clientes/3.png' %}" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <img src="{% static 'web/img/nuestros_clientes/4.png' %}" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <img src="{% static 'web/img/nuestros_clientes/5.png' %}" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <img src="{% static 'web/img/nuestros_clientes/6.png' %}" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <img src="{% static 'web/img/nuestros_clientes/7.png' %}" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <img src="{% static 'web/img/nuestros_clientes/8.png' %}" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <img src="{% static 'web/img/nuestros_clientes/9.png' %}" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <img src="{% static 'web/img/nuestros_clientes/10.png' %}" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <img src="{% static 'web/img/nuestros_clientes/11.png' %}" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <img src="{% static 'web/img/nuestros_clientes/12.png' %}" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <img src="{% static 'web/img/nuestros_clientes/13.png' %}" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <img src="{% static 'web/img/nuestros_clientes/14.png' %}" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <img src="{% static 'web/img/nuestros_clientes/15.png' %}" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <img src="{% static 'web/img/nuestros_clientes/17.png' %}" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <img src="{% static 'web/img/nuestros_clientes/18.png' %}" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <img src="{% static 'web/img/nuestros_clientes/19.png' %}" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <img src="{% static 'web/img/nuestros_clientes/20.png' %}" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <img src="{% static 'web/img/nuestros_clientes/21.png' %}" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <img src="{% static 'web/img/nuestros_clientes/22.png' %}" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <img src="{% static 'web/img/nuestros_clientes/23.png' %}" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <img src="{% static 'web/img/nuestros_clientes/24.png' %}" class="img-fluid">
                    </div>

                </div>
                <!--/First row-->

            </div>
            <!--/Items wrapper-->

        </div>
    </div>
</section>