{% load static %}
<section id="clientes" class="section background-white pt-4">
    {% with clientes_lista=clientes_list %}
        {% if clientes_lista %}
            <div class="container-fluid">
                <div class="container py-3" id="opinions">
                    <h1 class="section-heading h1 pt-4 text-center text-sm-left">
                        CLIENTES</h1>
                    <div class="flex-center logos-panel">

                        <div class="row justify-content-center mb-2 wow fadeIn" data-wow-delay="0.4s">
                            {% for cliente in clientes_lista %}
                                {% if cliente.logo %}
                                    <div class="col-lg-2 col-md-3 col-4 m-0 p-0">
                                        <img src="{{ cliente.logo.url }}" class="img-fluid">
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}
    {% endwith %}
</section>