{% load static solo_tags %}
{% get_solo 'web_configurations.LaEmpresaConfiguration' as empresa_configuracion %}

<div class="container index">
    <section id="empresa" class="section mt-3">
        <h1 class="section-heading h1 pt-4 left">{{ empresa_configuracion.titulo }}</h1>

        <div class="row index-empresa">
            {% if empresa_configuracion.imagen_principal %}
                <div class="col-12 col-sm-6 p-0 m-0">
                    <img class="img-fluid" src="{{ empresa_configuracion.imagen_principal.url }}" alt="">
                </div>
            {% endif %}
            <div class="col-12 col-sm-6 botones-empresa">
                <div>
                    <div class="row">
                        <div class="col-4 boton m-0">
                            <div class="contenido">
                                <img class="img-fluid" src="{% static 'web/img/empresa_boton_1.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-4 boton m-0">
                            <div class="contenido">
                                <img class="img-fluid" src="{% static 'web/img/empresa_boton_1.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-4 boton m-0">
                            <div class="contenido">
                                <img class="img-fluid" src="{% static 'web/img/empresa_boton_1.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-4 boton m-0">
                            <div class="contenido">
                                <img class="img-fluid" src="{% static 'web/img/empresa_boton_1.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-4 boton m-0">
                            <div class="contenido">
                                <img class="img-fluid" src="{% static 'web/img/empresa_boton_1.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-4 boton m-0">
                            <div class="contenido">
                                <img class="img-fluid" src="{% static 'web/img/empresa_boton_1.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">

            <p class="text-center p-2 p-md-3 green-text">
                {{ empresa_configuracion.texto|safe }}
            </p>
        </div>


        <!--First row-->
        <div class="row">

            <!--First column-->
            <div class="col-xl-2 col-md-3">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs md-pills pills-secondary flex-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#panel41" role="tab"><i
                                class="fa fa-glass fa-2x"></i><br>25 Años</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panel42" role="tab"><i
                                class="fa fa-wrench fa-2x"></i><br>Andinapack 2015</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panel43" role="tab"><i
                                class="fa fa-clock-o fa-2x"></i><br>Historia</a>
                    </li>
                </ul>
            </div>
            <!--/First column-->

            <!--Second column-->
            <div class="col-xl-10 col-md-9">
                <!-- Tab panels -->
                <div class="tab-content vertical">

                    <!--Panel 1-->
                    <div class="tab-pane fade show in active" id="panel41" role="tabpanel">
                        <br>

                        <!--First row-->
                        <div class="row">
                            <!--Second column-->
                            <div class="col-md-6 col-12">

                                <!--Featured images-->
                                <div class="view overlay hm-white-slight z-depth-2 mb-1">
                                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20%2817%29.jpg">
                                </div>

                                <!--/Featured images-->

                            </div>
                            <!--/Second column-->


                            <div class="col-md-6 col-12">
                                <div class="row">
                                    <div class="col-4 col-lg-3 m-0 p-1">
                                        <div class="view overlay hm-white-slight z-depth-2 mb-1">
                                            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20%2817%29.jpg">
                                        </div>
                                    </div>
                                    <div class="col-4 col-lg-3 m-0 p-1">
                                        <div class="view overlay hm-white-slight z-depth-2 mb-1">
                                            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20%2817%29.jpg">
                                        </div>
                                    </div>
                                    <div class="col-4 col-lg-3 m-0 p-1">
                                        <div class="view overlay hm-white-slight z-depth-2 mb-1">
                                            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20%2817%29.jpg">
                                        </div>
                                    </div>
                                    <div class="col-4 col-lg-3 m-0 p-1">
                                        <div class="view overlay hm-white-slight z-depth-2 mb-1">
                                            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20%2817%29.jpg">
                                        </div>
                                    </div>
                                    <div class="col-4 col-lg-3 m-0 p-1">
                                        <div class="view overlay hm-white-slight z-depth-2 mb-1">
                                            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20%2817%29.jpg">
                                        </div>
                                    </div>
                                    <div class="col-4 col-lg-3 m-0 p-1">
                                        <div class="view overlay hm-white-slight z-depth-2 mb-1">
                                            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20%2817%29.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--/First row-->

                    </div>
                    <!--/.Panel 1-->

                    <!--Panel 2-->
                    <div class="tab-pane fade" id="panel42" role="tabpanel">
                        <br>

                        <!--First row-->
                        <div class="row">
                            <!--Second column-->
                            <div class="col-lg-6 col-md-12">

                                <!--Featured images-->
                                <div class="view overlay hm-white-slight z-depth-2 mb-1">
                                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20%2812%29.jpg">
                                </div>

                                <!--/Featured images-->

                            </div>
                            <!--/Second column-->

                        </div>
                        <!--/First row-->

                    </div>
                    <!--/.Panel 2-->

                    <!--Panel 3-->
                    <div class="tab-pane fade" id="panel43" role="tabpanel">
                        <br>
                        <!--First row-->
                        <div class="row">
                            <div class="col-lg-6 col-md-12">

                                <!--Featured images-->
                                <div class="view overlay hm-white-slight z-depth-2 mb-1">
                                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20%2810%29.jpg">
                                </div>

                                <!--/Featured images-->

                            </div>
                            <!--/Second column-->

                        </div>
                        <!--/First row-->

                    </div>
                    <!--/.Panel 3-->

                </div>
            </div>
            <!--/Second column-->
        </div>
        <!--/First row-->
    </section>
</div>



{% with aliados_lista=aliados_list %}
    {% if aliados_lista %}
        <div class="streak streak-photo streak-long view photo-2 mt-4">
            <div class="hm-black-strong">
                <div class="mask">
                    <h4 class="text-center text-white mb-2 font-up font-bold wow fadeIn mt-2" data-wow-delay="0.2s">
                        NUESTROS ALIADOS</h4>
                    <div class="container flex-center">
                        <div class="row justify-content-center text-white text-center wow fadeIn" data-wow-delay="0.2s">
                            {% for aliado in aliados_lista %}
                                <div class="col-lg-2 col-md-3 col-4">
                                    <img src="{{ aliado.logo.url }}" alt="{{ aliado.logo.nombre }}" class="img-fluid">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endwith %}