{% load static solo_tags imagekit %}
{% get_solo 'web_configurations.LaEmpresaConfiguration' as empresa_configuracion %}

<div class="container index">
    <section id="empresa" class="section mt-3">
        <h1 class="section-heading h1 pt-4 left">{{ empresa_configuracion.titulo|upper }}</h1>

        <div class="row index-empresa">
            {% if empresa_configuracion.imagen_principal %}
                <div class="col-12 col-sm-6 p-0 m-0">
                    <figure>
                        <img src="{{ empresa_configuracion.imagen_principal.url }}" alt="">
                    </figure>
                </div>
            {% endif %}
            <div class="col-12 col-sm-6 botones-empresa">
                <div>
                    <div class="row">
                        <div class="col-4 boton m-0">
                            <div class="contenido">
                                <img class="img-fluid" src="{% static 'web/img/empresa_boton_2.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-4 boton m-0">
                            <div class="contenido">
                                <img class="img-fluid" src="{% static 'web/img/empresa_boton_2.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-4 boton m-0">
                            <div class="contenido">
                                <img class="img-fluid" src="{% static 'web/img/empresa_boton_2.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-4 boton m-0">
                            <div class="contenido">
                                <img class="img-fluid" src="{% static 'web/img/empresa_boton_2.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-4 boton m-0">
                            <div class="contenido">
                                <img class="img-fluid" src="{% static 'web/img/empresa_boton_2.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="col-4 boton m-0">
                            <div class="contenido">
                                <img class="img-fluid" src="{% static 'web/img/empresa_boton_2.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 dark-grey-text">
            <p class="text-center p-2 p-md-3">
                {{ empresa_configuracion.texto|safe }}
            </p>
        </div>


        {% with galeria_fotos_list=galeria_fotos_empresa_list.all %}
            {% if galeria_fotos_list %}
                <div class="row galeria-menu">
                    <div class="col-xl-2 col-md-3">
                        <ul class="nav nav-tabs md-pills pills-secondary flex-center" role="tablist">
                            {% for galeria in galeria_fotos_list %}
                                <li class="nav-item">
                                    <a class="nav-link dark-grey-text {% if forloop.first %}active{% endif %}"
                                       data-toggle="tab"
                                       href="#galeria-{{ galeria.pk }}"
                                       role="tab"><i
                                            class="fa {{ galeria.icono }} fa-2x"></i><br>{{ galeria.nombre }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col-xl-10 col-md-9">
                        <div class="tab-content vertical">
                            {% for galeria in galeria_fotos_list %}
                                {% if galeria.marca_agua == 1 %}
                                    {% generateimage 'webpage:watermark' source=galeria.imagen as imagen_procesada %}
                                {% elif galeria.marca_agua == 2 %}
                                    {% generateimage 'webpage:watermark_orange' source=galeria.imagen as imagen_procesada %}
                                {% else %}
                                    {% generateimage 'webpage:normal' source=galeria.imagen as imagen_procesada %}
                                {% endif %}

                                <div class="tab-pane fade show in {% if forloop.first %}active{% endif %}"
                                     id="galeria-{{ galeria.pk }}"
                                     role="tabpanel">
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <figure class="m-0 p-0">
                                                <img src="{{ galeria.imagen_thumbnail.url }}" alt="">
                                            </figure>
                                        </div>
                                        <div class="col-md-6 col-12 galeria">
                                            <div class="mdb-lightbox">
                                                <div class="row">
                                                    <figure class="col-4 col-lg-3 m-0 p-1">
                                                        <a href="{{ imagen_procesada.url }}"
                                                           data-size="{{ galeria.imagen.width|stringformat:"d" }}x{{ galeria.imagen.height|stringformat:"d" }}">
                                                            <div class="view overlay hm-white-slight z-depth-2">
                                                                <img src="{{ galeria.imagen_thumbnail_galeria.url }}"
                                                                     alt=""
                                                                >
                                                            </div>
                                                        </a>
                                                        <div class="caption">
                                                            <h3>
                                                                {{ galeria.nombre }}
                                                            </h3>
                                                        </div>
                                                    </figure>

                                                    {% with mis_imagenes_list=galeria.mis_imagenes.all %}
                                                        {% if mis_imagenes_list %}
                                                            {% for imagen in mis_imagenes_list %}
                                                                <figure class="col-4 col-lg-3 m-0 p-1">

                                                                    {% if imagen.marca_agua == 1 %}
                                                                        {% generateimage 'webpage:watermark' source=imagen.imagen as imagen_procesada %}
                                                                    {% elif imagen.marca_agua == 2 %}
                                                                        {% generateimage 'webpage:watermark_orange' source=imagen.imagen as imagen_procesada %}
                                                                    {% else %}
                                                                        {% generateimage 'webpage:normal' source=imagen.imagen as imagen_procesada %}
                                                                    {% endif %}

                                                                    <a href="{{ imagen_procesada.url }}"
                                                                       data-size="{{ imagen.imagen.width|stringformat:"d" }}x{{ imagen.imagen.height|stringformat:"d" }}">
                                                                        <div class="view overlay hm-white-slight z-depth-2">
                                                                            <img src="{{ imagen.imagen_thumbnail.url }}"
                                                                                 alt="">
                                                                        </div>
                                                                    </a>
                                                                    <div class="caption">
                                                                        <h3>
                                                                            {{ galeria.nombre }}
                                                                        </h3>
                                                                        {% if imagen.descripcion %}
                                                                            <p>{{ imagen.descripcion }}</p>
                                                                        {% endif %}
                                                                    </div>
                                                                </figure>
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endwith %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!--/Second column-->
                </div>
                <!--/First row-->
            {% endif %}
        {% endwith %}

    </section>
</div>



{% with aliados_lista=aliados_list %}
    {% if aliados_lista %}
        <div class="streak streak-photo view photo-2 mt-4">
            <div class="hm-black-strong">
                <div class="mask">
                    <h4 class="text-center text-white mb-1 font-up font-bold wow fadeIn mt-2" data-wow-delay="0.2s">
                        NUESTROS ALIADOS</h4>
                    <div class="container flex-center mb-4">
                        <div class="row justify-content-center text-white text-center wow fadeIn" data-wow-delay="0.2s">
                            {% for aliado in aliados_lista %}
                                <div class="col-lg-2 col-md-3 col-4">
                                    <img src="{{ aliado.logo.url }}" alt="{{ aliado.logo.nombre }}" class="img-fluid">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endwith %}