{% extends 'web/base/base.html' %}
{% load static solo_tags inclusion_tags cache %}

{% block title %}
    Inicio
{% endblock %}

{% block html_class %}

{% endblock %}

{% block menu %}

{% endblock %}

{% block cabezote %}

{% endblock %}

{% block content %}
    {% if request.user.is_staff %}
        <div class="container">
            <div>
                <h1 class="h1-responsive text-center">Creación de contactos</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </form>
            </div>
            <div class="mt-2">
                <h2 class="h2-responsive text-center">Ultimos 10 Contactos Recolectados</h2>
                <table class="table mce-table-striped table-responsive">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Empresa</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contacto in contactos_recolectado %}
                        <tr>
                            <td>{{ contacto.nombre }}</td>
                            <td>{{ contacto.apellido }}</td>
                            <td>{{ contacto.empresa }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block footer %}

{% endblock %}