{% extends 'web/base/base.html' %}
{% load static solo_tags %}

{% block title %}
    Inicio
{% endblock %}

{% block menu %}
    {% include 'web/base/menu.html' with es_menu_index=True %}
{% endblock %}

{% block cabezote %}
    {% get_solo 'web_configurations.IndexConfiguration' as index_configuracion %}
    {% if index_configuracion.header_imagen %}
        {% include 'web/base/cabezote.html' with titulo=index_configuracion.header_titulo texto=index_configuracion.header_text imagen=index_configuracion.header_imagen.url %}
    {% else %}
        {% include 'web/base/cabezote.html' with titulo=index_configuracion.header_titulo texto=index_configuracion.header_text imagen="https://media.licdn.com/media/p/5/005/076/247/00da2ac.png" %}
    {% endif %}

{% endblock %}

{% block content %}
    {% include 'web/empresa.html' %}
    {% include 'web/clientes.html' %}
{% endblock %}