{% load imagekit %}
<div class="col-12 col-md-6 col-lg-4 p-1">
    <div class="card card-body item">
        <h5 class="card-title">
            {{ item.nombre|upper }}
        </h5>
        <div class="row mb-4">
            {% if item.imagen_principal %}
                <div class="col-12 text-center">
                    <img class="img-fluid" src={{ item.imagen_principal.url }} alt="{{ item.nombre }}">
                </div>
            {% endif %}

            <div class="col-12 mt-2 mb-2">
                <p class="card-text text-justify">
                    {{ item.descripcion_corta }}
                </p>
            </div>

            {% with imagenes_lista=item.mis_imagenes.all|slice:":3" %}
                {% if imagenes_lista %}
                    <div class="col-12 pl-4 pr-4">
                        <div class="galeria">
                            <div class="mdb-lightbox">
                                <div class="row">
                                    {% for imagen in imagenes_lista %}

                                        {% if imagen.marca_agua == 1 %}
                                            {% generateimage 'webpage:watermark' source=imagen.imagen as imagen_procesada %}
                                        {% elif imagen.marca_agua == 2 %}
                                            {% generateimage 'webpage:watermark_orange' source=imagen.imagen as imagen_procesada %}
                                        {% else %}
                                            {% generateimage 'webpage:normal' source=imagen.imagen as imagen_procesada %}
                                        {% endif %}

                                        <figure class="col-4 col-md-4 p-1 m-0">
                                            <a href="{{ imagen_procesada.url }}"
                                               data-size="{{ imagen_procesada.width|stringformat:"d" }}x{{ imagen_procesada.height|stringformat:"d" }}">
                                                <div class="view overlay hm-white-slight z-depth-2">
                                                    <img src="{{ imagen.imagen_thumbnail.url }}"
                                                         alt=""
                                                    >
                                                </div>
                                            </a>
                                            <div class="caption">
                                                <h3>
                                                    {{ item.nombre }}
                                                </h3>
                                                {% if imagen.descripcion %}
                                                    <p>{{ imagen.descripcion }}</p>
                                                {% endif %}
                                            </div>
                                        </figure>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
        </div>

        {% if item.mas %}
            <div class="ver_mas">
                <a href="#" class="black-text d-flex flex-row-reverse" data-toggle="modal"
                   data-target="#itemSolucion{{ item.pk }}">
                    <h5 class="waves-effect">Ver más <i class="fa fa-chevron-right"></i></h5>
                </a>
            </div>
        {% endif %}

    </div>
</div>

<!-- Modal -->
<div class="modal fade right" id="itemSolucion{{ item.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg item" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header color-1-odecopack">
                <h4 class="modal-title w-100" id="myModalLabel">{{ item.nombre|upper }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                {{ item.mas|safe }}
                {% with imagenes_lista=item.mis_imagenes.all %}
                    {% if imagenes_lista %}
                        <div class="pl-4 pr-4">
                            <div class="galeria">
                                <div class="mdb-lightbox">
                                    <div class="row">
                                        {% for imagen in imagenes_lista %}

                                            {% if imagen.marca_agua == 1 %}
                                                {% generateimage 'webpage:watermark' source=imagen.imagen as imagen_procesada %}
                                            {% elif imagen.marca_agua == 2 %}
                                                {% generateimage 'webpage:watermark_orange' source=imagen.imagen as imagen_procesada %}
                                            {% else %}
                                                {% generateimage 'webpage:normal' source=imagen.imagen as imagen_procesada %}
                                            {% endif %}

                                            <figure class="col-4 col-md-2 p-1 m-0">
                                                <a href="{{ imagen_procesada.url }}"
                                                   data-size="{{ imagen_procesada.width|stringformat:"d" }}x{{ imagen_procesada.height|stringformat:"d" }}">
                                                    <div class="view overlay hm-white-slight z-depth-2">
                                                        <img src="{{ imagen.imagen_thumbnail.url }}"
                                                             alt=""
                                                        >
                                                    </div>
                                                </a>
                                                <div class="caption">
                                                    <h3>
                                                        {{ item.nombre }}
                                                    </h3>
                                                    {% if imagen.descripcion %}
                                                        <p>{{ imagen.descripcion }}</p>
                                                    {% endif %}
                                                </div>
                                            </figure>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn color-1-odecopack" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Modal -->