{% extends 'web/base/base.html' %}
{% load cache static inclusion_tags solo_tags %}

{% block title %}
    Casos de Éxito
{% endblock %}



{% block cabezote %}
    {% get_solo 'web_configurations.CasosExitoConfiguration' as casos_exito_configuracion %}
    {% if casos_exito_configuracion.header_imagen %}
        {% include 'web/base/cabezote.html' with titulo=casos_exito_configuracion.header_titulo texto=casos_exito_configuracion.header_text imagen=casos_exito_configuracion.header_imagen.url %}
    {% else %}
        {% include 'web/base/cabezote.html' with titulo=casos_exito_configuracion.header_titulo texto=casos_exito_configuracion.header_text %}
    {% endif %}
{% endblock %}


{% block content %}
    {% get_solo 'web_configurations.CasosExitoConfiguration' as casos_exito_configuracion %}
    <div class="container soluciones">
        <div class="row">
            <div class="col-12 pl-3 pr-3 pl-sm-0 pr-sm-0 order-2 order-sm-1">
                {% botones_soluciones %}
            </div>
            <div class="col-12 order-1 order-sm-2">
                {% with casos_exito_list=casos_exito_lista.all|dictsort:"industria.nombre" %}
                    <section class="section">
                        <div class="mt-4">
                            {{ casos_exito_configuracion.descripcion|safe }}
                        </div>
                        {% regroup casos_exito_list by industria as industria_list %}

                        <nav class="navbar navbar-soluciones navbar-expand-lg scrolling-navbar d-none d-md-block">
                            <ul class="navbar-nav navbar-nav-soluciones smooth-scroll">
                                {% for industria in industria_list %}
                                    <li class="nav-item">
                                        <a class="color-1-odecopack nav-link-soluciones" data-offset="120"
                                           href="#{{ industria.grouper.nombre|slugify }}">{{ industria.grouper.nombre|upper }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>


                        <div class="fixed-action-btn d-md-none p-0" style="bottom: 45px; right: 24px">
                            <a class="btn-floating btn-large m-0 color-1-odecopack waves-effect waves-light">
                                <i class="fa fa-search"></i>
                            </a>
                            <ul class="smooth-scroll" style="width: 1px">
                                {% for industria in industria_list %}
                                    <li>
                                        <a class="btn-floating btn-floating-categoria waves-effect waves-light"
                                           data-offset="100"
                                           href="#{{ industria.grouper.nombre|slugify }}"
                                           style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;"
                                        >
                                            {{ industria.grouper.nombre|title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>


                        <div class="row">
                            {% for industria in industria_list %}
                                <div id="{{ industria.grouper|slugify }}" class="col-12 mb-3">
                                    <h2 class="h2-responsive mt-4 text-center text-sm-left texto-color-1-odecopack">
                                        {{ industria.grouper.nombre|upper }}
                                        <i class="{{ industria.grouper.icono }}"></i>
                                    </h2>
                                    <div class="row lista pl-0 pl-sm-4 pr-1">
                                        {% for item in industria.list %}
                                            {% include 'web/casos_exito/caso_exito_item_detail.html' with item=item %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </section>
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}

<script>
    {% block final_scripts %}
        $(".navbar-soluciones").sticky({topSpacing: 48});
    {% endblock %}
</script>