{% load imagekit %}
<div class="col-12 col-md-6 col-lg-4 p-1">
    <div class="card card-body item">
        <h5 class="card-title">
            {% if item.categoria %}{{ item.nombre|title }}{% else %}{{ item.nombre|upper }}{% endif %}
        </h5>
        <div class="row mb-4">
            {% if item.imagen_principal %}
                <div class="col-12 text-center">
                    <a href="#" data-toggle="modal" data-target="#{{ item.id|slugify }}-{{ item.nombre|slugify }}">
                        <img
                                class="img-fluid"
                                src="{{ item.imagen_principal.url }}"
                                alt="Imagen perfil item solución de {{ item.nombre }}"
                        >
                    </a>
                </div>
            {% endif %}
            <div class="col-12 mt-2 mb-2">
                <p class="card-text text-justify">
                    {{ item.descripcion_corta }}
                </p>
            </div>
            <div class="col-12">
                <p>
                    {% if item.fecha_entrega %}
                        <strong>Año:</strong> {{ item.fecha_entrega|date:'Y' }}<br>
                        <strong>Mes:</strong> {{ item.fecha_entrega|date:'F' }}<br>
                    {% endif %}
                    <strong>Industria:</strong> {{ item.industria.nombre }}<br>
                    {% if item.cliente %}
                        <strong>Cliente:</strong> {{ item.cliente.nombre }}
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="ver_mas">
            <a href="#" class="black-text d-flex flex-row-reverse" data-toggle="modal"
               data-target="#{{ item.id|slugify }}-{{ item.nombre|slugify }}">
                <h5 class="waves-effect">Ver más <i class="fa fa-chevron-right"></i></h5>
            </a>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade right" id="{{ item.id|slugify }}-{{ item.nombre|slugify }}"
     title="{{ item.solucion.nombre|slugify }}" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true"
>
    <div class="modal-dialog modal-lg item" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header color-1-odecopack">
                <h2 class="modal-title w-100 h2-responsive" id="myModalLabel"><strong>{{ item.nombre|upper }}</strong>
                </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <div class="row">
                    <div class="col-4 col-lg-2 flex-center">
                        {% if item.cliente %}
                            {% if item.cliente.logo %}
                                <img class="img-fluid align-content-center" src="{{ item.cliente.logo.url }}"
                                     alt="Logo de {{ item.cliente.nombre }}">
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-8 col-lg-3 flex-center">
                        <p class="align-content-center float-left">
                            {% if item.fecha_entrega %}
                                <strong>Año:</strong> {{ item.fecha_entrega|date:'Y' }}<br>
                                <strong>Mes:</strong> {{ item.fecha_entrega|date:'F' }}<br>
                            {% endif %}
                            <strong>Industria:</strong> {{ item.industria.nombre }}<br>
                            {% if item.cliente %}
                                <strong>Cliente:</strong> {{ item.cliente.nombre }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-12">

                        <figure>
                            <img class="clear img-fluid float-sm-none float-md-right m-1" style="max-width: 300px"
                                 src="{{ item.imagen_principal.url }}"
                                 alt="">
                        </figure>
                        <p>
                            {{ item.descripcion|safe }}
                        </p>
                    </div>
                </div>

                {% with testimonios_lista=item.mis_testimonios.all|dictsort:"orden" %}
                    {% if testimonios_lista %}
                        <section class="section text-center pb-5">
                            <h4 class="h4-responsive mt-2">Testimonios</h4>
                            <div id="carousel-testimonios-{{ item.id }}"
                                 class="carousel no-flex testimonial-carousel slide carousel-fade"
                                 data-ride="carousel" data-interval="false">
                                <div class="carousel-inner" role="listbox">
                                    {% for testimonio in testimonios_lista %}
                                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                            <div class="testimonial">
                                                <p><i class="fa fa-quote-left"></i>
                                                    {{ testimonio.testimonio }}
                                                </p>
                                                <h4 class="h4-responsive mb-0">{{ testimonio.nombre_persona }}</h4>
                                                <h6 class="mt-0">{{ testimonio.cargo }}</h6>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <a class="carousel-item-prev left carousel-control"
                                   href="#carousel-testimonios-{{ item.id }}"
                                   role="button"
                                   data-slide="prev">
                                    <span class="icon-prev" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-item-next right carousel-control"
                                   href="#carousel-testimonios-{{ item.id }}"
                                   role="button"
                                   data-slide="next">
                                    <span class="icon-next" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </section>
                    {% endif %}
                {% endwith %}

                {% with imagenes_lista=item.mis_imagenes.all|dictsort:"orden" %}
                    {% if imagenes_lista %}
                        <h4 class="h4-responsive mt-2">Galería</h4>
                        <div class="pl-4 pr-4">
                            <div class="galeria">
                                <div class="mdb-lightbox">
                                    <div class="row">
                                        {% for imagen in imagenes_lista %}
                                            {% if imagen.imagen %}
                                                {% if imagen.marca_agua == 1 %}
                                                    {% generateimage 'webpage:watermark' source=imagen.imagen as imagen_procesada %}
                                                {% elif imagen.marca_agua == 2 %}
                                                    {% generateimage 'webpage:watermark_orange' source=imagen.imagen as imagen_procesada %}
                                                {% else %}
                                                    {% generateimage 'webpage:normal' source=imagen.imagen as imagen_procesada %}
                                                {% endif %}

                                                <figure class="col-4 col-md-2 p-1 m-0">
                                                    <a href="{{ imagen_procesada.url }}"
                                                       data-size="{{ imagen_procesada.width|stringformat:"d" }}x{{ imagen_procesada.height|stringformat:"d" }}">
                                                        <div class="view overlay hm-white-slight z-depth-2">
                                                            <img src="{{ imagen.imagen_thumbnail.url }}"
                                                                    {% if imagen.alt_seo %}
                                                                 alt="{{ imagen.alt_seo }}"
                                                                    {% endif %}
                                                            >
                                                        </div>
                                                    </a>
                                                    <div class="caption">
                                                        <h3>
                                                            {{ item.nombre }}
                                                        </h3>
                                                        {% if imagen.descripcion %}
                                                            <p>{{ imagen.descripcion }}</p>
                                                        {% endif %}
                                                    </div>
                                                </figure>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endwith %}
                {% with videos_list=item.mis_videos.all|dictsort:"orden" %}
                    {% if videos_list %}
                        <h4 class="h4-responsive mt-2">Videos</h4>
                        <div class="row">
                            {% for video in videos_list %}
                                <div class="col-12 col-md-6 col-lg-4 p-1 m-0">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item p-0"
                                                data-src="{{ video.video }}?rel=0&amp;showinfo=0"
                                                frameborder="0"
                                                allowfullscreen></iframe>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn color-1-odecopack" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Modal -->